.header {
    text-align: center;
    margin-bottom: 20px;
}

.crear_cuenta {
    position: absolute;
    top: 10px;
    left: 10px;

    
}
body {
    background-color: #c0e6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.stress-rating {
    text-align: center;
}


h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 170px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}


p {
    font-size: 30px;
    margin: 0;
}


button {
    background-color: #43afda;
    color: rgb(249, 246, 246);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    margin-top: 350px;
    top: 100px


}
input[type="range"] {
    width: 100%;
    height: 60px;
    margin-top: 10px;
}

.stress-rating i
input[type="range"] {
    width: 100%;
}

.emoji {
    font-size: 40px;
}
input:focus + button {
    display: inline-block;
}
/* Estilos para pantallas más pequeñas (máximo 600px de ancho) */
@media (max-width: 600px) {
    /* Agrega tus estilos aquí */
}

/* Estilos para pantallas más grandes (más de 600px de ancho) */
@media (min-width: 601px) {
    /* Agrega tus estilos aquí */
}
