body {
    background-image: url('https://media.istockphoto.com/id/1249363500/es/vector/divertido-cerebro-de-dibujos-animados-practicando-la-posici%C3%B3n-del-%C3%A1rbol-de-yoga.jpg?s=612x612&w=0&k=20&c=q9BrLO9zgmYid7jTnFOWIe6KVfVkzwrjiDrRv31vXv0=');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

h1 {
    color: rgb(235, 132, 209);
    font-size: 70px;
    font-weight: bold;
    margin-top: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
h2 {
    color:rgb(93, 19, 82);
    font-size: 80px;
    font-weight: bold;
    margin-top: 200px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
p{
    color: rgb(93, 19, 82);
    font-size: 50px;
    font-weight: bold;
    margin-top: 370px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
a{
    font-size: 50px;
    font-weight: bold;
    margin-top: 90px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color:rgb(49, 18, 69)8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
button {
    background-color: #8A2BE2; 
    color: white; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 20%;
    transform: translateX(-50%);
    font-size: 24px; 
    font-weight: bold;
}

button:hover {
    background-color: #9932CC; 
}
