body {
    background-image: url('https://media.istockphoto.com/id/1249363500/es/vector/divertido-cerebro-de-dibujos-animados-practicando-la-posici%C3%B3n-del-%C3%A1rbol-de-yoga.jpg?s=612x612&w=0&k=20&c=q9BrLO9zgmYid7jTnFOWIe6KVfVkzwrjiDrRv31vXv0=');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
body {
    text-align: center;
}
.h1 {
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 90px;
    position: absolute;
    top: 0;

}
.h2{
    font-size: 26px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 90px;
    position: absolute;
    top: 0;
}
.regresar-button {
    background-color: #8A2BE2;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px; 
    left: 10px; 
    font-size: 18px; 
    font-weight: bold;
}

.regresar-button:hover {
    background-color: #9932CC;
}